<h1>Photographs</h1>

<p>This is where the pictures go.</p>

<div class="pics">
    <%= image_tag("Audrey louise.jpg") %> 
</div>

<div class="pics">
    <%= image_tag("lilly-easter.jpg") %>
</div>

<div class="pics">
    <%= image_tag("My-girls.gif") %> 
</div>
<div class="pics">
    <%= image_tag("dirty lightning.jpg") %>
</div>  