<h1>Photographs</h1>

<p>This is where the pictures go.</p>

<div class="pics">
  <%= image_tag("family-picture-2013.jpg") %> 
</div>

<div class="pics">
    <%= image_tag("lilly-easter.jpg") %>
</div>

<div class="pics">
    <%= image_tag("My-girls.jpg", class: "pic3") %> 
</div>  