body{
  clear: both;
  background-color: #072087;
}
.content{
  background-color: #007AFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px 5px;
  border: solid 2px black;
  border-radius: 30px; 

}

table{
 
  text-align: left;
}
footer{
  font-weight: bold;
  text-align: center;
}
.nav{
  display: inline-block;
}
.nav_bar{
  float: left;
  padding-right: 50px;
}
*{
  text-decoration: none;

}